# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*

# Build output
dist/
build/
.tmp/
*.tsbuildinfo

# Logs
logs
*.log
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files
.vscode/
.idea/
*.swp

# Coverage testing
coverage/
.nyc_output/

# Cache files
.cache
*.temp
